<div class="main-wrapper-style3">
	<div class="inner">
		<div class="5grid 5grid-container">
			<div class="row">
				<div class="8u">

					<!-- Article list -->
						<section class="box-article-list">
							<h2 class="icon icon-news">From the blog</h2>

								<% page_articles.each_with_index do |article, i| %>
									<% unless blog.tags["spotlight"][0] == article %>
									<article class="box-excerpt">
										<% if article.data.post_img!=nil %>
											<% link_to article, :class => "image image-left" do %>
												<%= image_tag article.data.post_img %>
											<% end %>
										<% else %>
											<% content_tag :div, :class => "image image-left", :style => "width:180px;height:167px;" do %>
											&nbsp;
											<% end %>
										<% end %>
										<div>
											<header>
												<span class="date"><%= article.date.strftime('%B %-d, %Y') %></span>
												<h3><%= link_to article.title, article %></h3>
											</header>
											<% # use article.summary(250) if you have Nokogiri available to show just the first 250 characters
											 %>
											<%= article.body %>
										</div>
									</article>
									<% end %>
								<% end %>

						</section>
				</div>
				<div class="4u">

					<!-- Spotlight -->
						<section class="box-spotlight pad-left">
							<h2 class="icon icon-paper">Spotlight</h2>
							<article>
								<% if blog.tags["spotlight"][0].data.post_img != nil %>
									<% link_to blog.tags["spotlight"][0], :class => "image image-full" do %>
										<%= image_tag blog.tags["spotlight"][0].data.post_img %>
									<% end %>
								<% end %>
								<header>
									<h3><%= link_to blog.tags["spotlight"][0].title, blog.tags["spotlight"][0] %></h3>
									<span class="byline"><%= blog.tags["spotlight"][0].data.byline %></span>
								</header>
								<%= blog.tags["spotlight"][0].body %>
								<footer>
									<%= link_to 'Continue Reading', blog.tags["spotlight"][0], :class => "button button-alt button-icon button-icon-paper" %>
								</footer>
							</article>
						</section>
				
				</div>
			</div>
		</div>
	</div>
</div>
