---
layout: homepage
title: Home
---

				<div class="6u">
					<section class="pad-right">
						<header class="major">
							<h2><%= link_to blog.tags["headline"][0].title, blog.tags["headline"][0] %></h2>
							<span class="byline"><%= blog.tags["headline"][0].data.byline %></span>
						</header>
						<%= blog.tags["headline"][0].body %>
					</section>
				</div>
				<div class="6u">
					<section class="pad-left">
						<header class="major">
							<h2><%= link_to blog.tags["headline"][1].title, blog.tags["headline"][1] %></h2>
							<span class="byline"><%= blog.tags["headline"][1].data.byline %></span>
						</header>
						<%= blog.tags["headline"][1].body %>
					</section>
				</div>

